html {
  font-family: serif;
}
.container-fluid#outer {
  background-image: url('https://1.bp.blogspot.com/-1-uZh9Exf2s/XPKNvq0De-I/AAAAAAAAEkA/vYcPDFwpF7Q2lLKk7DMPDyvNjXowQDQ3gCLcBGAs/s1600/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container-fluid#inner {
  background-color: rgba(0, 0, 0, 0.5);
}

.card {
  box-shadow: none;
  border: 0;
}

.card img {
  width: 200px;
  border: 2px solid green
}